.Home {
	text-align: center;

	&-Logo {
		animation: App-logo-spin infinite 20s linear;
		cursor: pointer;
	}

	&-Header {
		background-color: var(--dark-color);
		height: 150px;
		padding: 20px;
		color: white;
	}

	&-Title {
		font-size: 1.5em;
	}

	&-ThemeSwitch {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&-RequestButton {
		margin-top: 10px;
		cursor: pointer;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
