$borderSize: 1px;

.Switch {
	display: block;

	& input {
		display: none;
	}

	&-Slider {
		width: 40px;
		height: 20px;
		background-color: #646464;
		border-radius: 20px;
		position: relative;
		border: $borderSize solid var(--dark-color);
		display: block;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			width: 50%;
			left: $borderSize;
			top: $borderSize;
			height: calc(100% - $borderSize * 2);
			border-radius: 50%;
			background-color: var(--light-color);
			transition: transform 0.2s ease;
		}
	}

	& input:checked + &-Slider {
		background-color: var(--primary-color);

		&::before {
			transform: translateX(calc(100% - $borderSize * 2));
			background-color: var(--dark-color);
		}
	}
}
